body {
    margin: 0;
    padding: 0;
}
h1 {
    display: inline-block;
    margin: 10px; 
}
h3 {
    background-color: #290c07;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: 200;
}
#mainMenu {
    margin: auto;
    padding-left: 250px;
	width:900px;
	font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
#mainMenu li {
	display:inline;
	width:120px;
	float:left;
	margin-left:2px;
    padding-top: 30px;
}
#mainMenu a {
	display:inline;
	padding:3px;
	text-decoration:none;
	background-color:#fff;
	color:#290c07;
}
img {
    float: left;
    padding-left: 100px;
}
#mainMenu a:hover {
	background-color:#290c07;
	color:#fff;
}
#first {
padding-left: 500px;
padding-top: 20px;
font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.big {
    font-size: 47px; 
    font-weight: lighter;
}
.bold {
    font-weight: bolder;
}
.better {
    font-weight: lighter;
    font-style: italic;
}

#second {
    padding: 200px; 
    border: 200px; 
    margin-top:50px; 
    background-color: #CA9E6C;
}
